// common
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
a {
    color: #000;
    text-decoration: none;
}
i {
    margin: 0px 15px;
}
input {
    outline: none;
}
button {
    outline:none;
}
select {
    outline:none;
}
.inactive {
    display: none;
}
.active {
    display: inline-block;
}