// footer
footer {
    font-family: $secondFont;
    background-image: linear-gradient($yellowJumbotron, $orangeJumbotron);
    width: 100%;
    border-top: 2px solid $violaHeroScuroModificato;
    // wrapper footer 
    .wrapper_footer {
        margin: auto;
        width: 80%;
        // margin top
        .margin_top_100 {
            padding-top: 50px;
            // upper footer flex
            .flex_box_footer_higher {
                justify-content: space-between;
                display: flex;
                // footer column
                .column_footer{
                    width: 25%;
                    // footer titles
                    .titles_footer {
                        color: #fff;
                        font-size: 30px;
                        font-weight: bold;
                        margin: 10px 0 10px 0;
                        font-size: 25px;
                    }
                    li {
                        line-height: 35px;
                        a {
                            color: $violaHeroScuroModificato;
                            font-family: $secondFont;
                            font-size: small;
                            font-weight: bold;
                            &:hover {
                                color: #fff;
                                text-decoration: none;
                                font-weight: bolder;
                            }
                        }    
                    }
                    // footer logo
                    .footer_bnb_logo {
                        width: 50%;
                        margin: 20px 0 10px 0;
                    }
                }
            }
            hr {
                border: 1px solid $violaHeroScuro;
                margin: 10px 0 10px 0;
            }
            // flex box footer lower 
            .flex_box_footer_lower {
                justify-content: flex-end;
                display: flex;
                // lower flex footer nested
                .flex_box_footer_lower_nested {
                    margin: 20px 0 20px 0;
                    display: flex;
                    justify-content: flex-end;
                    margin: 10px 0 10px 0;
                    align-items: center;
                    color: $violaHeroScuro;
                    font-weight: bold;
                    width: 50%;
                    // list icons social 
                    .list_icons_social {
                        li {
                            display: inline;
                            & a {
                                color: #fff;
                                font-size: 25px;
                                &:hover {
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* media  query */
// media breakpoint desktop
@media screen and (min-width: 992px) and (max-width:1200px) {
    //
}
// media breakpoint tablet
@media screen and (min-width: 769px) and (max-width: 992px) {
    footer {
        .wrapper_footer {
            .margin_top_100 {
                .flex_box_footer_higher {
                    justify-content: space-between;
                    flex-wrap: wrap;
                    display: flex;
                    // column footer
                    .column_footer{
                        width: 50%;
                        // list_icons_social
                        .list_icons_social {
                            flex-direction: column;
                            align-items: center;
                            text-align: center;
                            display: flex;
                        }            
                    }
                }
                // flex footer lower
                .flex_box_footer_lower {
                    flex-direction: column;
                    align-items: center;
                    display: flex;
                    // flex box footer lower nested
                    .flex_box_footer_lower_nested {
                        justify-content: center;
                        display: flex;
                        width: 100%;
                    }
                }
            }
        }
    }
}

// media breakpoint mobile
@media screen and (min-width: 0px) and (max-width:768px) {
    footer {
        // wrapper footer
        .wrapper_footer {
            width: 100%;
            // margin top 
            .margin_top_100 {
                // flex box footer higher 
                .flex_box_footer_higher {
                    flex-direction: column;
                    align-items: center;
                    display: flex;
                    // list icons social
                    .list_icons_social {
                        flex-direction: column;
                        align-items: center;
                        text-align: center;
                        display: flex;
                        width: 100%;
                        li { 
                            // header bnb logo 
                            .header_bnb_logo {
                            width: 60%;                                
                            }
                        }
                    }
                }
                 // flex box footer lower
                .flex_box_footer_lower {
                    flex-direction: column;
                    align-items: center;
                    display: flex;
                    // flex box footer lower nested
                    .flex_box_footer_lower_nested {
                        justify-content: center;
                        display: flex;
                        width: 100%;
                    }
                }
            }
        }
    }
}