footer {
    background-image: linear-gradient(to right,  $violaHeroScuroModificato, $violaHeroScuro);
    color:#fff;
    width: 100%;
    border-top: 1px solid $violaHeroScuroModificato;
    .wrapper-footer {
        @include GenericWrapper;
        .margin-top-100 {
            padding-top: 40px;
            .flex-box-footer-superiore {
                display: flex;
                justify-content: space-between;
                .colonna-footer{
                    width: 25%;
                    .titoli-footer {
                        color: $airBnB;
                    }
                    a {
                        color: #fff;
                    }
                    .header-bnb-logo {
                        width: 50%;
                    }
                }
            }
            .flex-box-footer-inferiore {
                display: flex;
                justify-content: flex-end;
                .flex-box-footer-inferiore-nested {
                    display: flex;
                    justify-content: flex-end;
                    width: 50%;
                    .lista-icone-social li {
                        display: inline;
                        & a {
                            color:#fff;
                            font-size: 25px;
                            &:hover{
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* media  query */
@media screen and (min-width: 992px) and (max-width:1200px) {
    //
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    //
}

@media screen and (min-width: 0px) and (max-width:768px) {
    footer {
        .wrapper-footer {
            width: 100%;
            .margin-top-100 {
                .flex-box-footer-superiore {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .header-bnb-logo {
                        max-width: 150px;
                    }
                }
                .flex-box-footer-inferiore {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .flex-box-footer-inferiore-nested {
                        display: flex;
                        justify-content: center;
                        width: 100%;
                    }
                }
            }
        }
    }
}