// HEADER
.position_flex_header {
    background-color: $headerColor;
    font-family: $secondFont;
    position: fixed;
    height: 70px;
    width: 100%;
    z-index: 2;
    left: 0;
    top: 0;
    .wrapper {
        justify-content: space-between;
        @include GenericWrapper;
        align-items: center;
        display: flex;
        #hamburger_icn {
            display: none;
        }
        .hamburger_menu {
            display: none;
            background-color: $firstMainSection;
            position: absolute;
            border-radius: 5px;
            padding: 20px;
            transition: 0.3s;
            cursor: pointer;
            width: 45%;
            right: 30px;
            z-index: 1;
            top: 110%;
            .list_item {
                background-color: $firstMainSection;
                border-radius: 10px;
                padding: 10px;
                &:hover {
                    background-color: $btnColor;
                }
            }
        }
        .header_bnb_logo {
            width: 100px;
        }
    }
}
// media breakpoint desktop
@media screen and (min-width: 992px) and (max-width:1200px) {
    //
}
// media breakpoint tablet
@media screen and (min-width: 769px) and (max-width:992px) {
    .position_flex_header {
        .wrapper {
            .links {
                display: none;
            }
            #hamburger_icn {
                display: inline;
                cursor: pointer;
            }
            .header_bnb_logo {
                width: 100px;
            }
        }
    }
}
// media breakpoint mobile
@media screen and (min-width: 0px) and (max-width:768px) {
    .position_flex_header {
        .wrapper {
            .links {
                display: none;
            }
            #hamburger_icn {
                display: inline;
                cursor: pointer;
            }
            .header_bnb_logo {
                min-width: 80px;
            }
        }
    }
}