// HEADER
.position-flex-header {
    font-family: $secondFont;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: $headerColor;
    width: 100%;
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include GenericWrapper;
        .header_bnb_logo {
            width: 10%;
            max-height: 60px;
        }
        .links {
            display: flex;
            justify-content: center;
            align-items: center;

            .hamburger {
                display: none;
            }
            .link-header {
                border: 1px solid $airBnB;
                background-color:$firstMainSection;
                border-radius: 10px;
                height: 40%;
                padding: 10px;
                margin: 0 10px;
                &:hover{
                    background-color: $btnColor;
                    transform: scale(1.05);
                    cursor: pointer;
                    opacity: 0.8;
                    // color: $firstMainSection;
                    color: $secondMainSection;
                }
            }
        }
    }
}

// media breakpoint desktop
@media screen and (min-width: 992px) and (max-width:1200px) {
    //
}


// media breakpoint tablet
@media screen and (min-width: 769px) and (max-width:992px) {
    .header_bnb_logo {
        min-width: 80px;
    }
    .links {
        .hamburger {
            display: inline;
        }
        .link-header {
            display: none;
        }
    }
}

// media breakpoint mobile
@media screen and (min-width: 0px) and (max-width:768px) {
    .header_bnb_logo {
        min-width: 80px;
    }
    .hamburger {
        display: inline;
    }
    .link-header {
        display: none;
    }
}