// HEADER
.position-flex-header {
    background-color: $headerColor;
    font-family: $secondFont;
    position: fixed;
    height: 70px;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    .wrapper {
        justify-content: space-between;
        @include GenericWrapper;
        align-items: center;
        display: flex;
        .header_bnb_logo {
            max-height: 60px;
            width: 10%;
        }
    }
}
// media breakpoint desktop
@media screen and (min-width: 992px) and (max-width:1200px) {
    //
}
// media breakpoint tablet
@media screen and (min-width: 769px) and (max-width:992px) {
    .header_bnb_logo {
        min-width: 80px;
    }
    .links {
        .hamburger {
            display: inline;
        }
        .link-header {
            display: none;
        }
    }
}
// media breakpoint mobile
@media screen and (min-width: 0px) and (max-width:768px) {
    .header_bnb_logo {
        min-width: 80px;
    }
    .hamburger {
        display: inline;
    }
    .link-header {
        display: none;
    }
}