// index advertising
// index bg 
.index_background {
    background-color: $secondMainSection;
    width: 100%;    
    // index wrapper 
    .index_wrapper {
        @include GenericWrapper;
        padding: 100px;
        .adv_property_item {
            border: 1px solid $firstMainSection;
            background-color: none;
            border-radius: 10px;
            @include CardsFlex;
            height: 100px;
            margin: 10px;
            width: 100%;
            span {
                border-right:1px solid $firstMainSection;
                text-transform: capitalize;
                font-family: $secondFont;
                text-align: center;
                line-height: 100px;
                color: #fff;
                height: 100%;
                width: 100%;
            }
            .last_span {
                border: none;
            }
        }
        .total_paid {
            border:1px solid $firstMainSection;
            font-family: $secondFont;
            justify-content: center;
            align-items: center;
            border-radius:10px;
            display: flex;
            height: 200px;
            width: 200px;
            margin: 10px;
            span {
                color: #fff;
            }
        }
    }
}