// jumbotron
.jumbotron {
    width: 100%;
    height: 100%;
    position: relative;
}
.text_item {
    position: absolute;
    font-family: $secondFont;
    font-weight: bold;
    font-size:60px;
    color:#fff;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.jumbotron_search_item {
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    width: 20%;
    padding: 10px;
    right: 3%;
    top: 15%;
    .btn_search {
        margin: auto;
        width: 30%;
        height: 50px;
        button {
            background-color:$firstMainSection;
            border-radius: 10px;
            width: 100%;
            height: 100%;
            border: 1px solid $btnColor;
            font-family: $secondFont;
            font-size: 20px;
            transition: 0.3s;
            .fa-search {
                padding-left: 10px;
            }
            &:hover {
                @include HeroItemHover;
            }
        }
    }
    .search_item {
        position: relative;
        margin: 5px 5px;
        padding: 5px;
        text-align: center;
        border: 2px solid lightgoldenrodyellow;
        background-color:#fff;
        border-radius: 10px;
        transition: 0.3s;
        height: 15%;
        width: 95%;
        .dropleft_menu {
        background-color: #fff;
        position: absolute;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
        right: 100%;
        padding: 10px 0px;
        opacity: 0;
        transition: 0.5s;
        z-index: 1;
        top: 0;
        &:hover {
            background-color: $firstMainSection;
            cursor: pointer;
        }
    }
        &:hover .dropleft_menu {
            opacity: 1;
        }
        &:hover {
            background-color: $firstMainSection;
            cursor:pointer;
        }
        label {
            font-family: $secondFont;
            font-size: 20px;
        }
        input {
            @include HeroInputInfo;
            &:hover::placeholder {
                color: #000;
                width: 100%;
            }
            &:hover  {
                @include HeroItemHover;
            }
        }
        select {
            @include HeroInputInfo;
            &:hover {
                @include HeroItemHover;
            }
        }
    }
}

// media breakpoint mobile
@media screen and (min-width: 0px) and (max-width:768px) {
    .jumbotron_text_item {
        display: none;
    }
    .jumbotron_search_item {
        position: relative;
        margin: auto;
        width: 100%;
        padding-left: 100px; 
    }
    .search_item {
        position: relative;
        margin: 5px 5px;
        padding: 5px;
        text-align: center;
        border: 2px solid lightgoldenrodyellow;
        background-color:#fff;
        border-radius: 10px;
        transition: 0.3s;
        height: 15%;
        width: 95%;
        .dropleft_menu {
        background-color: #fff;
        position: absolute;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
        right: 100%;
        padding: 10px 0px;
        opacity: 0;
        transition: 0.5s;
        z-index: 1;
        top: 100%;
        left: 0;
        &:hover {
            background-color: $firstMainSection;
            cursor: pointer;
        }
    }
        &:hover .dropleft_menu {
            opacity: 1;
        }
        &:hover {
            background-color: $firstMainSection;
            cursor:pointer;
        }
    }
}

// media breakpoint tablet
@media screen and (min-width: 768px) and (max-width:992px) {
    .jumbotron_text_item {
        width: 50%;
        font-size: 30px;
        position: relative;
        h2 {
            position: absolute;
            color: #000;
            z-index: 1;
            font-size: 30px;
            transform: translate(-50%, 50%);
        }
    }
    .jumbotron_search_item {
        position: relative;
        margin-left: auto;
        width: 50%; 
    }
}

// media breakpoint desktop
@media screen and (min-width: 992px) and (max-width:1200px) {
    .jumbotron_text_item {
        width: 50%;
        font-size: 30px;
        position: relative;
        h2 {
            position: absolute;
            color: #000;
            z-index: 1;
            font-size: 30px;
            transform: translate(-50%, 50%);
        }
    }
    .jumbotron_search_item {
        position: relative;
        margin-left: auto;
        width: 50%; 
    }
}
