// jumbotron
.jumbotron {
    position: relative;
    height: 100%;
    width: 100%;
}
// text item
.text_item {
    transform: translate(-50%, -50%);
    font-family: $secondFont;
    position: absolute;
    font-weight: bold;
    font-size:60px;
    color:#fff;
    left: 50%;
    top: 25%;
}
// jumbo item
.jumbotron_search_item {
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    padding: 10px;
    width: 20%;
    right: 3%;
    top: 15%;
    // search item
    .search_item {
        border: 2px solid lightgoldenrodyellow;
        background-color:#fff;
        border-radius: 10px;
        position: relative;
        text-align: center;
        transition: 0.3s;
        cursor: pointer;
        margin: 5px 5px;
        padding: 5px;
        height: 15%;
        width: 95%;
        // 
        .tom_search {
            background-color: $firstMainSection;
            position: absolute;
            border-radius: 5px;
            padding: 10px 0px;
            transition: 0.3s;
            cursor: pointer;
            display: none;
            width: 100%;
            right: 100%;
            z-index: 1;
            top: 0;
            // list item tom
            .list_item_tom {
                font-family: $secondFont;
                transition: 0.3s;
                font-size: 25px;
                height: 100%;
                width: 100%;
                &:hover {
                    background-color: $btnColor;
                    transform:translate(1.05);
                    border-radius: 20px;
                }
            }
        }
        // adding class block with js 
        .block {
            background-color: $firstMainSection;
            cursor: pointer;
            display: block;   
        }
        .dropleft_menu {
            background-color: $firstMainSection;
            position: absolute;
            border-radius: 5px;
            padding: 10px 0px;
            transition: 0.3s;
            cursor: pointer;
            display: none;
            width: 100%;
            right: 100%;
            z-index: 1;
            top: 0;
            // list item tom
            .list_item_tom {
                font-family: $secondFont;
                transition: 0.3s;
                font-size: 25px;
                height: 100%;
                width: 100%;
                &:hover {
                    background-color: $btnColor;
                    transform:translate(1.05);
                    border-radius: 20px;
                }
            }
            // list item
            .list_item:last-child {
                justify-content: space-between;
                align-items: center;
                display: flex;
                // service list item
                .service_list_item {
                    height: 100%;
                    width: 40%;
                    i {
                        color: $violaHeroScuroModificato;
                    }
                } 
            }
        }
        // hover dropleft menu
        &:hover .dropleft_menu {
            background-color: $firstMainSection;
            cursor: pointer;
            display: block;
        }
        label {
            font-family: $secondFont;
            font-size: 20px;
        }
        input {
            @include HeroInputInfo;
            &:hover::placeholder {
                color: #000;
                width: 100%;
            }
            &:hover  {
                @include HeroItemHover;
            }
        }
        select {
            @include HeroInputInfo;
            &:hover {
                @include HeroItemHover;
            }
        }
    }
     // btn
     .btn_search {
        margin: auto;
        width: 30%;
        height: 50px;
        button {
            background-color:$firstMainSection;
            border-radius: 10px;
            width: 100%;
            height: 100%;
            border: 1px solid $btnColor;
            font-family: $secondFont;
            font-size: 20px;
            transition: 0.3s;
            .fa-search {
                padding-left: 10px;
            }
            &:hover {
                @include HeroItemHover;
            }
        }
    }
}

// media breakpoint mobile
@media screen and (min-width: 0px) and (max-width:768px) {
    .jumbotron_text_item {
        display: none;
    }
    .jumbotron_search_item {
        position: relative;
        padding-left: 60px; 
        margin: auto;
        width: 100%;
    }
    .search_item {
        .dropleft_menu {
            left: 0;
        top: 0;
        &:hover {
            background-color: $firstMainSection;
            cursor: pointer;
        }
    }
        &:hover .dropleft_menu {
            opacity: 1;
        }
        &:hover {
            background-color: $firstMainSection;
            cursor:pointer;
        }
    }
}

// media breakpoint tablet
@media screen and (min-width: 768px) and (max-width:992px) {
    .jumbotron_text_item {
        position: relative;
        font-size: 30px;
        width: 50%;
        h2 {
            transform: translate(-50%, 50%);
            position: absolute;
            font-size: 30px;
            color: #000;
            z-index: 1;
        }
    }
    .jumbotron_search_item {
        position: relative;
        margin-left: auto;
        width: 50%; 
    }
}

// media breakpoint desktop
@media screen and (min-width: 992px) and (max-width:1200px) {
    .jumbotron_text_item {
        position: relative;
        font-size: 30px;
        width: 50%;
        h2 {
            transform: translate(-50%, 50%);
            position: absolute;
            font-size: 30px;
            color: #000;
            z-index: 1;
        }
    }
    .jumbotron_search_item {
        position: relative;
        margin-left: auto;
        width: 50%; 
    }
}
