// main accomodations list
// section list
.section_list {
    background-color: $firstMainSection;
    font-family: $secondFont;
    padding: 120px 0;
    margin-top: 70px;
    // elm responsive list
    .elm_responsive_list {
        @include GenericWrapper;
        flex-wrap: wrap;
        display: flex;
    //    elm search list
        .elm_search_list {
            background-color: $secondMainSection;
            width: calc((100% - 40px) / 2);
            flex-direction: column;
            border-radius: 15px;
            display: flex;
            padding: 10px;
            margin: 10px;
            // img elm list 
            .img_elm_list {
                background-color: gray;
                border-radius: 15px;
                height: 50%;
                width: 100%;
                img {
                    border-radius: 15px;
                    transition: 0.3s;
                    height: 100%;
                    width: 100%;
                    &:hover {
                        cursor: pointer;
                        opacity: 0.4;
                    }
                }
            }
            // title lem list
            .title_elm_list {
                justify-content: space-between;
                flex-direction: column;
                padding: 5px 30px;
                display: flex;
                width: 100%;
                height: 50%;
                // title elm list higher 
                .title_elm_list_higher {
                    // row title elm list
                    .row_title_elm_list{
                        justify-content: space-between;
                        align-items: center;
                        display: flex;
                        // title elm list 
                        .title_elm_list {
                            margin-bottom: 15px;
                            font-weight: bolder;
                            font-size: 25px;
                            color: $airBnB;
                        }
                        // sponsor elm list
                        .sponsor_elm_list {
                            justify-content: space-between;
                            font-weight: bolder;
                            margin-bottom: 10px;
                            margin-right:20px;
                            display: flex;
                            color: $airBnB;
                            // bronze medal
                            .medal_bronze {
                                color: rgb(205, 127, 50);
                            }
                            // silver medal
                            .medal_silver {
                                color: silver;
                            }
                            // gold medal
                            .medal_gold {
                                color: gold;
                            }
                        }
                    }
                    // visible elm list
                    .visible_elm_list {
                        font-weight: bolder;
                        margin-bottom: 15px;
                        color: $airBnB;
                    }
                    // text elm list
                    .text_elm_list {
                        color: $textColorSearch;
                        margin-bottom: 15px;
                        font-weight: bold;
                        font-size: 10px;
                    }
                    // info elm list
                    .info_elm_list {
                        color: $textColorSearch;
                        font-weight: bold;
                        font-size: 15px;
                        margin: 0 10px;
                        .icn-space {
                            margin: 10px 5px;
                        }
                    }
                }
                // title elm list lower
                .title_elm_list_lower {
                    justify-content: space-between;
                    display: flex;
                    width: 100%;
                    .btn_message_show {
                        box-shadow: 1px 2px 10px #888888;
                        background-color:$firstMainSection;
                        border: 1px solid $airBnB;
                        justify-content: center;
                        align-items: center;
                        border-radius: 10px;
                        font-weight: bold;
                        transition: 0.3s;
                        display: flex;
                        padding: 15px;
                        color: #000;
                        width: 150px;
                        height: 40px;
                        &:hover{
                            background-color: $btnColor;
                            color: $secondMainSection;
                            transform: scale(1.08);
                            cursor: pointer;
                        }
                    }
                    // price elm list
                    .price_elm_list {
                        font-weight: bolder;
                        font-size: 20px;
                        color: $airBnB;
                    }
                }
            }
        }
    }
}

/* media  query */

// media breakpoint desktop
@media screen and (min-width: 992px) and (max-width: 1200px) {
    .section_list {
        .elm_responsive_list {
            flex-wrap: wrap;
            display: flex;
            .elm_list_list {
                flex-direction: column;
                align-items: center;
                margin: 10px 0;
                display: flex;
                width: 100%;
                .img_elm_list {
                    max-width: 350px;
                    height: 50%;
                    width: 100%;
                }
                .testo_elm_list {
                    display: block;
                    width: 100%;
                    height: 50%;
                    .testo_elm_list_higher {
                        .row_title_elm_list {
                            justify-content: flex-start;
                            align-items: flex-start;
                            flex-direction: column;
                            display: flex;
                        }
                    }
                }
            }
        }
    }
    .text_elm_list {
        display: none;
    }
}

// media breakpoint tablet
@media screen and (min-width: 769px) and (max-width: 991px) {
    .section_list {
        .elm_responsive_list {
            flex-wrap: wrap;
            display: flex;
            .elm_list_list {
                flex-direction: column;
                align-items: center;
                margin: 10px 0;
                display: flex;
                width: 100%;
                .img_elm_list {
                    max-width: 350px;
                    height: 50%;
                    width: 100%;
                }
                .testo_elm_list {
                    display: block;
                    width: 100%;
                    height: 50%;
                    .testo_elm_list_higher {
                        .row_title_elm_list {
                            justify-content: flex-start;
                            align-items: flex-start;
                            flex-direction: column;
                            display: flex;
                        }
                    }
                }
            }
        }
    }
    .text_elm_list {
        display: none;
    }
    .btn_message_show {
        width: 100px;
    }
}

// media breakpoint mobile
@media screen and (min-width: 0px) and (max-width: 768px) {
    // seciotn list
    .section_list {
        // elm responsive list
        .elm_responsive_list {
            flex-wrap: wrap;
            display: flex;
            // elm search list 
            .elm_search_list {
                flex-direction: column;
                align-items: center;
                margin: 10px 0;
                display: flex;
                width: 100%;
                // img elm list 
                .img_elm_list {
                    max-width: 350px;
                    width: 100%;
                    height: 50%;
                }
                // title elm list
                .title_elm_list {
                    display: block;
                    width: 100%;
                    height: 50%;
                    .testo_elm_list_higher {
                        .row_title_elm_list {
                            justify-content: flex-start;
                            align-items: flex-start;
                            flex-direction: column;
                            display: flex;
                        }
                    }
                }
            }
        }
    }
    .text_elm_list {
        display: none;
    }
}
