// main
// first section
// aside
.aside_accomodations {
    background-color:$secondMainSection;
    overflow-y: auto;
    min-width: 20%;
    height: 100%;
    // aside wrapper
    .aside_wrapper {
        @include GenericWrapper;
        padding: 30px 0px;
        flex-wrap: wrap;
        display: flex;
        // aside item
        .aside_item {
            background-color: $firstMainSection;
            position: relative;
            border-radius: 10px;
            transition: 0.3s;
            margin: 15px 0;
            width: 100%;
            height: 30%;
            opacity: 1;
            &:hover {
                @include HoverCard;
            }
            // informations item 
            .informations_item {
                border: 4px solid $headerColor;
                text-transform: capitalize;
                @include InformationsFlex;
                border-radius: 10px;
                font-size: 20px;
                padding: 10px;
                height: 100%;
                width: 100%;
                span {
                    font-family: $fourthFont;
                    padding: 10px;
                }
            }
            // cover image
            .cover_image {
                @include CoverImage;
                &:hover {
                    transform: scale(1.2);
                    opacity: 0;
                }
            }
        }
    }
}
// cards section
.cards_section {
    min-width: 80%;
    height: 100%;
}
// first main
.first_main_section {
    background-color:$firstMainSection;
    @include GenericFlex;
    margin-top: -5px;
    height: 1000px;
    width: 100%;
    // first main wrapper
    .first_main_wrapper {
        @include AccomodationsWrapper;
        @include GenericFlex;
        // accomodations cards
        .accomodation_cards {
            background-color: none;
            @include ColumnFlex;
            border-radius: 10px;
            margin: auto;
            width: 100%;
            height: 90%;
            // upper cards scroller
            .upper_cards_scroller {
                @include XScroller;
                // card item
                .card_item {
                    @include CardItem;
                    &:hover {
                        @include HoverCard;
                    }
                    // informations item
                    .informations_item {
                        @include InformationsInfo;
                        span {
                            font-family: $fourthFont;
                            padding: 10px;
                            color: #fff;
                        }
                    }
                    // cover image
                    .cover_image {
                        @include CoverImage;
                        &:hover {
                            transform: scale(1.2);
                            opacity: 0;
                        }
                    }
                }
            }
            // lower cards scroller
            .lower_cards_scroller {
                @include XScroller;
                // card item
                .card_item {
                    @include CardItem;
                    &:hover {
                        @include HoverCard;
                    }
                    // informations item
                    .informations_item {
                        @include InformationsInfo;
                        span {
                            font-family: $fourthFont;
                            color: #fff;
                            padding: 10px;
                        }
                    }
                    // cover image
                    .cover_image {
                        @include CoverImage;
                        &:hover {
                            transform: scale(1.2);
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }
}
// second section
.second_main_section {
    width: 100%;
    height: 1000px;
    background-color: $secondMainSection;
    // second main wrapper 
    .second_main_wrapper {
        padding: 50px;
        @include AccomodationsWrapper;
        // single accomodation 
        .single_accomodation {
            justify-content: flex-start;
            align-items: center;
            border-radius: 10px;
            display: flex;
            height: 100%;
            width: 100%;
            // cover image
            .cover_image {
                height: 97%;
                width: 50%;
                margin: 20px;
                border-radius: 10px;
                background-color: lightblue;
            }
            // secondary images
            .secondary_images {
                @include SecondaryImagesFlex;
                height: 100%;
                width: 50%;
                // image item 
                .image_item {
                    background-color:crimson;
                    border-radius: 10px;
                    margin: 10px;
                    height: 47%;
                    width: 47%;
                }
            }
        }
    }
}
// third main section
.third_main_section {
    background-color:$footerColor;
    height: 700px;
    padding: 50px;
    width: 100%;
    // third main wrapper 
    .third_main_wrapper {
        @include GenericFlex;
        border-radius: 10px;
        padding: 20px;
        height: 100%;
        margin: auto;
        width: 70%;
        //element item
        .elm_item {
            width: 50%;
            height: 100%;
            margin: 0px 10px;
            position: relative;
            border-radius: 10px;
            background-color:lightblue;
            h2 {
                transform: translate(0%,150%);
                font-family: $fourthFont;
                position: absolute;
                color: #fff;
                left: 1%;
                bottom:0
            }
        }
    }
}