// main search
// section search 
.section_search {
    background-color: $secondMainSection;
    font-family: $secondFont;
    overflow-y: auto;
    padding-top: 350px;
    height: 100%;
    //search results
    .elm_responsive_search {
        @include GenericWrapper;
        // elm search list 
        .flex_items_services {
            justify-content: flex-start;
            align-items: center;
            display: flex;
            li {
                margin-top: 20px;
                margin-right: 20px;
            }
        }
        .elm_search_list {
            background-color: $firstMainSection;
            border-radius: 15px;
            margin: 30px;
            display: flex;
            height: 400px;
            padding: 10px;
            width: 100%;
            img {
                border-radius: 10px;
                overflow: auto;
                height: 100%;
                width: 100%;
            }
            // img elm search
            .img_elm_search {
                background-color: gray;
                border-radius: 15px;
                transition: 0.3s;
                height: 100%;
                width: 40%;
                &:hover {
                    transform: translate(1.15);
                    cursor:pointer;
                    opacity: 0.8;
                }
            }
            // title elm search
            .title_elm_search {
                justify-content: space-between;
                flex-direction: column;
                display: flex;
                width: 60%;
                h3 {
                    color: $violaHeroScuroModificato;
                    font-weight: bolder;
                    margin-bottom: 15px;
                    font-size: 25px;
                }
                // title elm search higher 
                .title_elm_search_higher {
                    padding: 0px 30px;
                    h3, h4, p, small {
                        padding: 5px;
                        text-transform: capitalize;
                    }
                    p {
                        line-height: 20px;
                    }
                    // text elm search
                    .text_elm_search {
                        color: $textColorSearch;
                        font-weight: bold;
                    }
                    // info elm search
                    .info_elm_search {
                        color: $textColorSearch;
                        font-weight: bold;
                        font-size: 15px;
                    }
                }
                // text elm search lower 
                .text_elm_search_lower {
                    justify-content: flex-end;
                    display: flex;
                    width: 100%;
                    // price elm search 
                    .price_elm_search {
                        font-weight: bolder;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}
// handlebar class for printing
.ajax_handlebar_print {
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    display: flex;
    padding: 20px;
}
.research_results {
    text-align: center;
    margin-top: 150px;
    font-size: 40px;
    color: #fff;
}
.none {
    display: none;
}
.block {
    display: block;
}
/* media  query */

// media breakpoint desktop
@media screen and (min-width: 992px) and (max-width: 1200px) {
    //
}

// media breakpoint tablet
@media screen and (min-width: 769px) and (max-width: 992px) {
    // section search
    .section_search {
        // elm responsive list
        .elm_responsive_list {
            flex-wrap: wrap;
            display: flex;
            // elm search list 
            .elm_search_list {
                width: calc((100% - 40px) / 2);
                flex-direction: column;
                margin: 10px;
                height: 400px;
                display: flex;
                // img elm search
                .img_elm_search {
                    height: 50%;
                    width: 100%;
                }
                // text elm search 
                .text_elm_search {
                    display: block;
                    width: 100%;
                    height: 50%;
                }
            }
        }
    }
}

// media breakpoint mobile
@media screen and (min-width: 0px) and (max-width: 768px) {
    // section search 
    .section_search {
        // elm responsive search 
        .elm_responsive_search {
            display: flex;
            flex-wrap: wrap;
            // elm search list 
            .elm_search_list {
                flex-direction: column;
                align-items: center;
                margin: 10px 0;
                display: flex;
                height: 400px;
                width: 100%;
                // img elm search 
                .img_elm_search {
                    max-width: 350px;
                    height: 50%;
                    width: 100%;
                }
                // text elm search 
                .text_elm_search {
                    display: block;
                    width: 100%;
                    height: 50%;
                }
            }
        }
    }
}
