// main
// first section
// aside
.aside_accomodations {
    background-color:$secondMainSection;
    overflow-y: auto;
    min-width: 20%;
    height: 100%;
    // aside wrapper
    .aside_wrapper {
        @include GenericWrapper;
        padding: 100px 0px;
        flex-wrap: wrap;
        display: flex;
        position: relative;
        h2 {
            color: #fff;
            position: absolute;
            text-align: center;
            text-transform: capitalize;
            font-family: $fourthFont;
            margin: 40px;
            top: 0;
            left: 0;

        }
        // aside item
        .aside_item {
            background-color: $firstMainSection;
            position: relative;
            border-radius: 10px;
            transition: 0.3s;
            margin: 15px 0;
            width: 100%;
            height: 30%;
            opacity: 1;
            &:hover {
                @include HoverCard;
            }
            // informations item 
            .informations_item {
                border: 4px solid $headerColor;
                text-transform: capitalize;
                @include InformationsFlex;
                border-radius: 10px;
                font-size: 20px;
                padding: 10px;
                height: 100%;
                width: 100%;
                span {
                    font-family: $fourthFont;
                    padding: 10px;
                }
            }
            // cover image
            .cover_image {
                @include CoverImage;
                &:hover {
                    transform: scale(1.2);
                    opacity: 0;
                }
            }
        }
    }
}
// cards section
.cards_section {
    min-width: 80%;
    height: 100%;
}
// first main
.first_main_section {
    background-color:$firstMainSection;
    @include GenericFlex;
    height: 1000px;
    width: 100%;
    // first main wrapper
    .first_main_wrapper {
        @include AccomodationsWrapper;
        @include GenericFlex;
        position: relative;
        h2 {
            color: #000;
            font-size: 40px;
            font-family:$fourthFont;
            text-transform: capitalize;
            position: absolute;
            transform: translateX(-50%);
            top: 2%;
            left: 50%;
        }
        // accomodations cards
        .accomodation_cards {
            background-color: none;
            @include ColumnFlex;
            border-radius: 10px;
            margin: auto;
            width: 100%;
            height: 90%;
            // upper cards scroller
            .upper_cards_scroller {
                @include XScroller;
                // card item
                .card_item {
                    @include CardItem;
                    &:hover {
                        @include HoverCard;
                    }
                    // informations item
                    .informations_item {
                        @include InformationsInfo;
                        span {
                            font-family: $fourthFont;
                            padding: 10px;
                            color: #fff;
                        }
                    }
                    // cover image
                    .cover_image {
                        @include CoverImage;
                        &:hover {
                            transform: scale(1.2);
                            opacity: 0;
                        }
                    }
                }
            }
            // lower cards scroller
            .lower_cards_scroller {
                @include XScroller;
                // card item
                .card_item {
                    @include CardItem;
                    &:hover {
                        @include HoverCard;
                    }
                    // informations item
                    .informations_item {
                        @include InformationsInfo;
                        span {
                            font-family: $fourthFont;
                            color: #fff;
                            padding: 10px;
                        }
                    }
                    // cover image
                    .cover_image {
                        @include CoverImage;
                        &:hover {
                            transform: scale(1.2);
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }
}

// media breakpoint mobile
@media screen and (min-width: 0px) and (max-width:768px) {
    .first_main_section {
        margin-top: 0px;
    }
    .aside_accomodations {
        overflow-x: auto;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        height: 20%;
    }
}

// media breakpoint tablet
@media screen and (min-width: 769px) and (max-width:992px) {
    .first_main_section {
        margin-top: 0px;
    }
}

// media breakpoint desktop
@media screen and (min-width: 992px) and (max-width:1200px) {
    .first_main_section {
        margin-top: 0px;
    }
}


// second section
.second_main_section {
    width: 100%;
    height: 1000px;
    background-color: $secondMainSection;
    // second main wrapper 
    .second_main_wrapper {
        padding: 50px;
        @include AccomodationsWrapper;
        // single accomodation 
        .single_accomodation {
            justify-content: flex-start;
            align-items: center;
            border-radius: 10px;
            display: flex;
            height: 100%;
            width: 100%;
            // cover image
            .cover_image {
                height: 97%;
                width: 50%;
                margin: 20px;
                border-radius: 10px;
                background-color: lightblue;
            }
            // secondary images
            .secondary_images {
                @include SecondaryImagesFlex;
                height: 100%;
                width: 50%;
                // image item 
                .image_item {
                    background-color:crimson;
                    border-radius: 10px;
                    min-height: 47%;
                    min-width: 47%;
                }
            }
        }
    }
}

// media breakpoint mobile
@media screen and (min-width: 0px) and (max-width:768px) {

}

// media breakpoint tablet
@media screen and (min-width: 769px) and (max-width:992px) {

}

// media breakpoint desktop
@media screen and (min-width: 992px) and (max-width:1200px) {
   .image_item {
       display: flex;
       flex-wrap: nowrap;
   }
}

// third main section
.third_main_section {
    background-color:$footerColor;
    height: 700px;
    padding: 50px;
    width: 100%;
    // third main wrapper 
    .third_main_wrapper {
        @include GenericFlex;
        border-radius: 10px;
        padding: 20px;
        height: 100%;
        margin: auto;
        width: 70%;
        //element item
        .elm_item {
            width: 50%;
            height: 100%;
            margin: 0px 10px;
            position: relative;
            border-radius: 10px;
            background-color:lightblue;
            // higher accomodations types 
            .higher_accomodations_types {
                width: 100%;
                height: 70%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-wrap:wrap;
                // higher type 
                .higher_type {
                    margin: 10px;
                    width: 46%;
                    height: 45%;
                    border-radius: 10px;
                    background-color: red;
                }  
            }
            // lower accomodation type 
            .lower_accomodation_type {
                width: 100%;
                height: 30%;
                padding:10px;
                // lower type 
                .lower_type {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    background-color: green;
                }
            }
            h2 {
                transform: translate(0%, 150%);
                font-family: $fourthFont;
                position: absolute;
                color: #fff;
                left: 1%;
                bottom:0
            }
        }
    }
}