// main accomodations list
// section list
.section_list {
    background-color: $firstMainSection;
    font-family: $secondFont;
    padding: 120px 0;
    margin-top: 70px;
    // elm responsive list
    .elm_responsive_list {
        display: flex;
        flex-wrap: wrap;
       @include GenericWrapper;
    //    elm search list
        .elm_search_list {
            margin: 10px;
            height: 800px;
            width: calc((100% - 40px) / 2);
            display: flex;
            flex-direction: column;
            background-color: $secondMainSection;
            border-radius: 15px;
            padding: 10px;
            // img elm list 
            .img_elm_list {
                height: 60%;
                width: 100%;
                background-color: gray;
                border-radius: 15px;
                img {
                    height: 100%;
                    width: 100%;
                    border-radius: 15px;
                }
            }
            // title lem list
            .title_elm_list {
                padding: 5px 30px;
                width: 100%;
                height: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                // title elm list higher
                .title_elm_list_higher {
                    // row title elm list
                    .row_title_elm_list{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        // title elm list
                        .title_elm_list {
                            color: $airBnB;
                            font-size: 25px;
                            margin-bottom: 15px;
                            font-weight: bolder;
                        }
                        // sponsor elm list
                        .sponsor_elm_list {
                            color: $airBnB;
                            margin-bottom: 15px;
                            font-weight: bolder;
                            .medal_bronze {
                                color: rgb(205, 127, 50);
                            }
                            .medal_silver {
                                color: silver;
                            }
                            .medal_gold {
                                color: gold;
                            }
                        }
                    }
                    // visible elm list
                    .visible_elm_list {
                        color: $airBnB;
                        margin-bottom: 15px;
                        font-weight: bolder;
                    }
                    // text elm list
                    .text_elm_list {
                        margin-bottom: 15px;
                        font-weight: bold;
                        color: $textColorSearch;
                    }
                    // info elm list
                    .info_elm_list {
                        margin: 0 10px;
                        font-size: 15px;
                        color: $textColorSearch;
                        font-weight: bold;
                        .icn-space {
                            margin: 10px 5px;
                        }
                    }
                }
                // title elm list lower
                .title_elm_list_lower {
                    display: flex;
                    justify-content: flex-end;
                    width: 100%;
                    // price elm list
                    .price_elm_list {
                        font-size: 20px;
                        font-weight: bolder;
                        color: $airBnB;
                    }
                }
            }
        }
    }
}

/* media  query */

// media breakpoint desktop
@media screen and (min-width: 992px) and (max-width: 1200px) {
    //
}

// media breakpoint tablet
@media screen and (min-width: 769px) and (max-width: 992px) {
    .section-list {
        .elm-responsive-list {
            display: flex;
            flex-wrap: wrap;
            .elm-list-list {
                margin: 10px 0;
                height: 700px;
                width: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                .img-elm-list {
                    height: 50%;
                    width: 100%;
                    max-width: 350px;
                }
                .testo-elm-list {
                    width: 100%;
                    height: 50%;
                    display: block;
                    .testo-elm-list-superiore {
                        .row-title-elm-list {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            justify-content: flex-start;
                        }
                    }
                }
            }
        }
    }
}

// media breakpoint mobile
@media screen and (min-width: 0px) and (max-width: 768px) {
    // seciotn list
    .section_list {
        // elm responsive list
        .elm_responsive_list {
            display: flex;
            flex-wrap: wrap;
            // elm search list
            .elm_search_list {
                margin: 10px 0;
                height: 700px;
                width: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                // img elm list
                .img_elm_list {
                    height: 50%;
                    width: 100%;
                    max-width: 350px;
                }
                // title elm list
                .title_elm_list {
                    width: 100%;
                    height: 50%;
                    display: block;
                    .testo-elm-list-superiore {
                        .row-title-elm-list {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            justify-content: flex-start;
                        }
                    }
                }
            }
        }
    }
}
