.show_section {
    background-color: $firstMainSection;
    font-family: $secondFont;
    padding-top: 100px;
    height: 1800px;
    .show_wrapper {
        @include GenericWrapper;
        //MESSAGE BUTTON AND TITLE ACCOMODATION
        .button_section_show {
            height: 5%;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 10px;
            padding: 10px;
            .title_elm_show {
                font-size: 40px;
                font-weight: bolder;
            }
            .btn_message_show {
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 1px 2px 10px #888888;
                background-color:$firstMainSection;
                border: 1px solid $airBnB;
                border-radius: 10px;
                font-weight: bold;
                transition: 0.3s;
                padding: 15px;
                color: #000;
                &:hover{
                    background-color: $btnColor;
                    color: $secondMainSection;
                    transform: scale(1.08);
                    cursor: pointer;
                }
            }
        }
        // IMAGES
        .images_show {
            height: 30%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $secondMainSection;
            border-radius: 10px;
            padding: 30px;
            border: 2px solid $airBnB;
            box-shadow: 1px 2px 10px #888888;
            .primary_image_show {
                height: 100%;
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center; 
                .cover_image_show {
                    background-color:rgb(59, 59, 59);
                    border-radius: 10px;
                    height: 95%;
                    width: 95%;
                    margin: 2.5%;
                    &:hover {
                        background-color: $btnColor;
                        transform:scale(1.02);
                        cursor: pointer;
                        opacity: 0.8;
                    }
                }
            }
            .secondary_images_show {
                height: 100%;
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;    
                flex-wrap: wrap;
                .image_item_show {
                    background-color:rgb(59, 59, 59);
                    border-radius: 10px;
                    height: 45%;
                    width: 45%;
                    margin: 2%;
                    &:hover {
                        background-color: $btnColor;
                        transform:scale(1.04);
                        cursor: pointer;
                        opacity: 0.8;
                    }
                }
            }    
        }
        // INFO
        .section_info_show {
            margin-top: 5%;
            height: 55%;
            background-color: $secondMainSection;
            padding: 30px;
            border-radius: 10px;
            border: 2px solid $airBnB;
            box-shadow: 1px 2px 10px #888888;
            // TEXT
            .info_accomodation_show {
                height: 50%;
                .flex_between_show {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 2.5% 0;
                    &:first-child {
                        margin: 0 0 5% 0;
                    }
                    & .title_elm_show {
                        color: $airBnB;
                        font-size: 35px;
                        font-weight: bolder;
                    }
                    & .price_elm_show {
                        color: $textColorSearch;
                        font-weight: bolder;
                    }
                    & .address_elm_show {
                        color: $airBnB;
                    }
                    .type_elm_show {
                        color: $airBnB;
                        font-weight: bolder;
                    }
                }
                .description_elm_show {
                    text-align: center;
                    padding: 0 30px;
                    color: $textColorSearch;
                    font-weight: bolder;
                    margin: 2.5% 0;
                }
                .services_elm_show {
                    color: $textColorSearch;
                    font-weight: bolder;
                    margin: 2.5% 0;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    .small_info_elm_show {
                        font-size: 20px;
                        .icn_space_show {
                            margin: 0 10px;
                        }
                    }
                }
                & > .price_elm_show {
                    display: none;
                }
            }
            // MAP
            .section_map_show {
                height: 45%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .map_accomodation_show {
                    height: 95%;
                    width: 60%;
                    border-radius: 10px;
                    background-color: green;
                }
            }
        }
    }
}


/* media  query */

// media breakpoint desktop
@media screen and (min-width: 992px) and (max-width: 1200px) {
    //
}

// media breakpoint tablet
@media screen and (min-width: 769px) and (max-width: 992px) {
    .show_section {
        .show_wrapper {
            //MESSAGE BUTTON AND TITLE ACCOMODATION
            .button_section_show {
                height: 10%;
            }
            // IMAGES
            .images_show {
                height: 25%;  
            }
            // INFO
            .section_info_show {
                margin-top: 2.5%;
                height: 55%;
                // TEXT
                .info_accomodation_show {
                    height: 60%;
                }
                // MAP
                .section_map_show {
                    height: 40%;
                }
            }
        }
    }
}

// media breakpoint mobile
@media screen and (min-width: 0px) and (max-width: 768px) {
    .show_section {
        .show_wrapper {
            margin: 0;
            width: 100%;
            //MESSAGE BUTTON AND TITLE ACCOMODATION
            .button_section_show {
                height: 5%;
                justify-content: center;
                .title_elm_show {
                    font-size: 30px;
                }
                .address_elm_show {
                    display: none;
                }
                .none {
                    display: none;
                }
            }
            // IMAGES
            .images_show {
                height: 20%;
                padding: 10px;
                .primary_image_show {
                    height: 100%;
                    width: 100%;
                    .cover_image_show {
                        background-color:rgb(59, 59, 59);
                        border-radius: 10px;
                        height: 100%;
                        width: 100%;
                        margin: 2.5%;
                        max-width: 400px;
                        &:hover {
                            background-color: $btnColor;
                            transform:scale(1.02);
                            cursor: pointer;
                            opacity: 0.8;
                        }
                    }
                }
                .secondary_images_show {
                   display: none;
                }    
            }
            // INFO
            .section_info_show {
                margin-top: 2.5%;
                height: 55%;
                padding: 10px;
                // TEXT
                .info_accomodation_show {
                    height: 80%;
                    .flex_between_show {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin: 0;
                        &:first-child {
                            margin: 0;
                        }
                        & .title_elm_show {
                            display: none;
                        }
                        & .price_elm_show {
                            display: none;
                        }
                        & .address_elm_show {
                            color: $airBnB;
                        }
                        .type_elm_show {
                            color: $airBnB;
                            font-weight: bolder;
                        }
                    }
                    .description_elm_show {
                        padding: 0 10px;
                        color: $textColorSearch;
                        font-weight: bolder;
                        margin: 2.5% 0;
                    }
                    .services_elm_show {
                        color: $textColorSearch;
                        font-weight: bolder;
                        margin: 2.5% 0;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        .small_info_elm_show {
                            font-size: 20px;
                            .icn_space_show {
                                margin: 0 10px;
                            }
                        }
                    }
                    & > .price_elm_show {
                        display: block;
                        color: $airBnB;
                        font-weight: bolder;
                    }
                }
                // MAP
                .section_map_show {
                    height: 20%;
                    .map_accomodation_show {
                        width: 80%;
                    }
                }
            }
        }
    }
}
