// Search

.section-search {
    background-color: $secondMainSection;
    padding: 10px 0;
    font-family: $secondFont;
    .elm-responsive-search {
        @include GenericWrapper;
        .elm-search-list {
            background-color: $firstMainSection;
            border-radius: 15px;
            margin: 10px 0;
            height: 250px;
            width: 100%;
            padding: 10px;
            display: flex;
            .img-elm-search {
                height: 100%;
                width: 350px;
                background-color: gray;
                border-radius: 15px;
            }
            .testo-elm-search {
                padding: 5px 30px;
                width: calc(100% - 340px);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .testo-elm-search-superiore{
                    .title-elm-search {
                        color: $violaHeroScuroModificato;
                        font-size: 25px;
                        margin-bottom: 15px;
                        font-weight: bolder;
                    }
                    .text-elm-search {
                        margin-bottom: 15px;
                        font-weight: bold;
                        color: $textColorSearch;
                    }
                    .info-elm-search {
                        margin: 0 10px;
                        font-size: 15px;
                        color: $textColorSearch;
                        font-weight: bold;
                    }
                }
                .testo-elm-search-inferiore {
                    display: flex;
                    justify-content: flex-end;
                    width: 100%;
                    .price-elm-search {
                        font-size: 20px;
                        font-weight: bolder;
                    }
                }    
            }
        }
    }
}

/* media  query */

// media breakpoint desktop
@media screen and (min-width: 992px) and (max-width:1200px) {
    //
}

// media breakpoint tablet
@media screen and (min-width: 769px) and (max-width: 992px) {
    .section-search {
        .elm-responsive-search {
            display: flex;
            flex-wrap: wrap;
            .elm-search-list {
                margin: 10px;
                height: 400px;
                width: calc((100% - 40px) / 2);
                display: flex;
                flex-direction: column;
                .img-elm-search {
                    height: 50%;
                    width: 100%;
                }
                .testo-elm-search {
                    width: 100%;
                    height: 50%;
                    display: block;
                }
            }
        }
    }
}

// media breakpoint mobile
@media screen and (min-width: 0px) and (max-width:768px) {
    .section-search {
        .elm-responsive-search {
            display: flex;
            flex-wrap: wrap;
            .elm-search-list {
                margin: 10px 0;
                height: 400px;
                width: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                .img-elm-search {
                    height: 50%;
                    width: 100%;
                    max-width: 300px;
                }
                .testo-elm-search {
                    width: 100%;
                    height: 50%;
                    display: block;
                }
            }
        }
    }
}