// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$secondFont: 'Montserrat', sans-serif;
$thirdFont: 'Roboto', sans-serif;
$fourthFont: 'Ubuntu', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$headerColor: #E7DFC6;
$firstMainSection: #E9F1F7;
$secondMainSection: #131B23;
$footerColor: #446D62; //sfondo footer
$btnColor: #FC6C43;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$airBnB: #FF5A5F;
$violaHeroScuro: #531b5a;
$violaHeroScuroModificato: rgb(35, 16, 43);
$textColorSearch: rgb(160, 143, 169);
$orangeJumbotron: rgb(245, 124, 105);
$yellowJumbotron: rgb(255, 210, 133);
